<br />
<div class='frosty col-10 offset-1'>
  <%= image_tag 'golden-icon-big.png', class: 'team-icon' %>
  <h1 class='text-center'>Golden Chess</h1>
  <h3 class='text-center'>Mike</h3>
  <h3 class='text-center'>Gamal</h3>
  <h3 class='text-center'>Chris</h3>
  <h3 class='text-center'>Rodrigo</h3>
  <h3 class='text-center'>Evan</h3>
  <br />
</div>
