<br />
<div class='frosty col-10 offset-1'>
  <h1 class='text-center'>Create A New Game</h1>
  <br />
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <br />
    <%= f.submit 'Create!', class: 'btn btn-success float-right' %>
  <% end %>
  <br />
  <br />
</div>
