<div class='content'>
  <br />
  <h1 class="text-center title"><%= @game.name %></h1>
  <br />
  <table class="chess_table">
    <% 7.downto(0).each do |row_number| %>
      <tr>
        <% 0.upto(7).each do |column_number| %>
          <td class="<%= (row_number + column_number).even? ? "black_space" : "white_space"%>">
            <% piece = @game.pieces.at(column_number, row_number) %>
            <% if piece %>
              <p class='piece'><%= piece.to_unicode %></p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br />
  <br />
</div>
