@import "bootstrap";

body {
  background: image_url('chess_background.jpg') no-repeat center center fixed;
  -webkit-bakground-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  color: #bc5a45;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background: #fff;
}

.navbar-light a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: #233247;

}

.card{
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px solid #e8e8e8;
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0
}

.card p, .card .message{
  font-size: 18px;
  margin: 20px;
}

.card.form{
  padding: 20px;
}

tr, td {
  border: 1px solid #8b6f47;
}

.piece {
  font-size: 50px;
  text-align: center;
}

.chess_table {
  margin: auto;
  border: 3px solid #4f3222;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.black_space {
  background-color: #cab577;
  height: 80px;
  width: 80px;
}

.white_space {
  background-color: white;
  height: 80px;
  width: 80px;
}

.piece {
  margin: auto;
}
